In [ ]:
a = "hello"
b = 10
c = 89.80
print(type(a), type(b), type(c))
print(a,b,c)

In [ ]:
a = 15
b = a-10
print(a+3)
if b>5:
  print("Value of 'a' was more than 15 initially,")
else:
  print("Value of 'a' was 15 or less than initially,")

In [ ]:
#this is single line comment 

'''
this is 
multiple line comments
'''
print("hello")

In [ ]:
#formatting string using format() method
txt = "1 dollar is about {} indian rupee"
print(txt.format(73.79)) #example 1
print("hello how are you {}".format("Mr.X")) #example 2
print("{} dollar is equal to {} indian rupee".format(1, 73.79)) #example 3
txt1 = "My name is {0}, I'm {1}".format("John",36) #order of 0  and 1
print(txt1)#example 4
txt2 = "My name is {name}, I'm {age}".format(name = "Ram", age = 15)
print(txt2)#example 5

In [ ]:
txt2 = "My name is {name}, I'm {age}".format(name = "Ram", age = 15)
print(txt2)#example 5

In [ ]:
#formatting string using % operator
a = 200
a1 = '300'
s = "hello"
f = 34.67
print("Integer %d" %(a))
print("string %s and %s" %(s, "abc"))
print("float %f" %(f))
print("float %0.0f" %(f))
print("octal %o" %(a))
print("hexa decimal %x" %(a))

In [ ]:
#formatting string using % operator
a = 200
a1 = '300'
s = "hello"
f = 34.67
print("Integer %d" %(a))
print("string %s and %s" %(s, "abc"))
print("float %f" %(f))
print("float %0.0f" %(f))
print("octal %o" %(a))
print("hexa decimal %x" %(a))

In [ ]:
#formatting string using f-string
a = 200
s = "Ramesh"
print(f"hello i have {a} rupees")
print(f"2*3 is {2*3}")
print(f"hello my name is {s}")

In [ ]:
a = input()
print(a)
print(type(a))
b = int(input("enter a number"))
print(b)
print(type(b))

In [ ]:
print("a", "b", "c") 
print("this will be printed in new line")
print("lets", "change", "the", "seperator", "and", "end", sep = '@', end = "&")
print("this will be printed with previous line")

In [ ]:
print(values, sep = " ", end = "\n")

In [ ]:
#STRING OPERATORS
str1 = "hello"
str2 = "Nature"
print(str1+str2)# +
print(str1*3)# *
print(str1[0])# [] (slice)
print(str1[0:2])#2nd position element will not be included #[:] (range slice)
print("he" in str1) # in
print("he" not in str1) # not in
print(str1 + "\t" + str2)
print(str1 + r"\t" + str2) #r supress the escape characters
print("hello %s" %("hi"))

In [ ]:
for i in range(1, 5):
  for j in range(5, i, -1):
    print(" ", end = '')
  for k in range(1, j):
    print("*", end = '')
  print()

In [ ]:
a = 0123
print(a)

In [ ]:
f = 12e400
print(f)

In [ ]:
a = 2+3j
print(a, type(a))

In [ ]:
#implicit conversion
x = 3
y = 3.4
print(type(x), type(y))
x = x + y #implicit conversion (lower to higher)
print(type(x), type(y))

In [ ]:
#explicit conversion 
a = "123"
b = 234
c = 67
i = int(a);
print(i, type(i))# 123 <int>
f = float(a);
print(f, type(f))# 123.0 <float>
s = str(b)
print(s, type(s))
i = int(a);
com = complex(b, c)
print(com, type(com))

In [ ]:
#IF STATEMENT
a = 100
b = 200
if a>b: #programmer should mind the indentation
  print("hello")
else:
  print("hi")

print("hello") if a>b else print("hi")#one line
#elif
c = int(input("number between 1 to 3 = "))
if c == 1:
  print("one")
elif c == 2:
  print("two")
elif c == 3:
  print("three")
else:
  print("wrong input")

In [ ]:
#LOGICAL OPERATORS - and or not
a = 100
b = 300
c = 200
if a < 200 and b < 200:
  print("hello")
if a < 200 or b < 200:
  print("hi")
if not a > 200 and b > 200:
  print("hello")

In [ ]:
a = 100
b = 300


if not a > 200 and not b > 200:   
  print("hello")

In [ ]:
i = 0
count = 0;
while (i < 5):
  a = int(input())
  if a < 3:
    count = count + 1;
    print(f"wrong input {count} times")
  else:
    print("OK")
  if count == 3:
    print("limit exceeded")
    break
  i = i+1

In [ ]:
while(1):
  print("input 1 to break the trap")
  a = int(input())
  if a == 1:
    print("you have broken the trap :)")
    break
  else:
   continue

In [ ]:
#for loop
for i in range(1, 5): #5 in not included
  print("hello", end = " ")
for i in range(5, 1, -1):
  print("hi", end = " ")
for i in range(1, 5, 2):
  print("indian", end = " ")
for i in range(5, 1, -2):
  print("citizens", end = " ")

In [ ]:
i = 0
count = 0;
while (i < 5):
  a = int(input())
  if a < 3:
    count = count + 1;
    print(f"wrong input {count} times")
  else:
    print("OK")
  if count == 3:
    print("limit exceeded")
    break
  i = i+1
p = (5-count)/5*100
print(f"Prediction accuracy is {p}")
if p>=50:
  print("you win")
else:
  print("you loose")

In [ ]:
a = 100
if a<20:
  else if a>50:

UNIT-4__init__:

In [ ]:
class class_a:
  def __init__(self):
    self.a = 200
    self.b = 100
ob1 = class_a()
print(ob1.a + ob1.b)

300

In [ ]:
class sum:
  def __init__(self, a, b):
    self.x = a
    self.y = b
    print(self.x + self.y)

p1 = sum(10,20)
print(p1.x, p1.y)

30
10 20

In [ ]:
#Q1) solution
import random as r
class tup_list:
  def fun(self, x, y):
    z = list (zip(x, y))
    return z
l1 = []
l2 = []
for i in range(1,5):
  li.append(r.randrange(10,20))
for i in range (1,5):
  l2.append(r.randrange (10, 20))
ob1 = tup_list()
print(on1.fun(11, 12))

EXPERIMENT 4

In [ ]:
try:
  pirnt("HELLO")
except NameError as e:
  print(e)

name 'pirnt' is not defined

#TypeError

In [ ]:
try:
  A = "Hello"
  Ans = A + 100
  print(Ans)
except TypeError as e:
  print(e)
else:
  print(Ans)

can only concatenate str (not "int") to str

IndexError

In [ ]:
try:
  A = [1,2,3]
  print(A[5])
except IndexError as e:
  print(e)

list index out of range

ValueError

In [ ]:
import math
try:
  a = math.sqrt(-10)
except ValueError as e:
  print(e)
else:
  print(a)

math domain error

OverflowError

In [ ]:
import math
try:
  A = int(input("Enter a Number"))
  print(math.exp(A))
except OverflowError as e:
  print(e)
else:
  print(A)

Enter a Number1000
math range error

Q3Explain raise with example?

In [ ]:
def defaultfunc():
  a = 100
  print(f"Default value taken as {a}")

try:
    a = int(input("Enter a number less than 10"))
    if(a < 10):
      print(a)
    else:
      raise Exception("Number is greater than 10")

except:
    print("Exception occurred")
    defaultfunc()

Enter a number less than 1015
Exception occurred
Default value taken as 100

PROGRAM 
QUES 1

In [ ]:
class NotInRange(ValueError):
  pass
i = 1
while(i<6):
  try:
    a = int(input("Enter a Number in the range 0-8"))
    if(a>8 or a<0):
      raise NotInRange("Number Out of Range")
    else:
      print(a)
  
  except NotInRange:
    print("5")
  i=i+1

Enter a Number in the range 0-81
1
Enter a Number in the range 0-83
3
Enter a Number in the range 0-85
5
Enter a Number in the range 0-87
7
Enter a Number in the range 0-89
5

In [ ]:
A = []
while(1):
  try:
    a = int(input("Enter a Two-Digit Number"))
    if(a>9 and a<100):
      c = 0
      for i in A:
          if a == i :
            c=c+1
      if c>0:
        raise Exception("Number entered is a Duplicate Number")
      else:
        A.append(a)
    else:
        raise Exception("Number Entered is not a Double Digit Number")
  except Exception as e:
    print(a)
    break

  finally:
    print(A)

Enter a Two-Digit Number10
[10]
Enter a Two-Digit Number20
Enter a Two-Digit Number30
[10, 20]
[10, 20, 30]
Enter a Two-Digit Number30
30
[10, 20, 30]

In [ ]:
class TooSmallError(Exception):
  pass
class TooLargeError(Exception):
  pass

try:
  A = int(input("Enter a number in the range 10-20"))
  if(A<20):
    raise TooLargeError("Enter Number is bigger than the range")
  elif(A<10):
    raise TooSmallError("Entered Number is smaller than the range")
  else:
    print(f"Number is {A}")
  
except TooSmallError as e:
  print(e)
except TooLargeError as e:
  print(e)

Enter a number in the range 10-20 100
Number is 100

In [ ]:
try:
  a = int(input("Enter a number less than 10"))
  assert a>10, f"number is {a}"

except Exception as e:
  print(e)

else:
  print("Number is greater than 10 \nDefault Number is 100")

Enter a number less than 10 100
Number is greater than 10
Default Number is 100

In [ ]:
  A = "Hello"
  (lambda x: print(x)) (A)

Hello

In [ ]:
def fun(A):
  if(A%2):
      return True

it_A = filter(fun , [1,2,3,4,5])
print(list(it_A))

[1, 3, 5]

In [ ]:
A = [1,2,3,4]
it_A = iter(A)
print(type(it_A))
print(next(it_A))

<class 'list_iterator'>
1

In [ ]:
A = [1,2,3,4,5]
print("List A :-",A)
it_A = filter(lambda A : True if A%2==1 else False, A)
print("List of Odd Number :-", list(it_A))

List A :- [1, 2, 3, 4, 5]
List of Odd Number :- [1, 3, 5]

In [ ]:
def IsVowel(S):
  Vow = ['a', 'e', 'i', 'o', 'u']
  if S in Vow:
    return True
  return False
str = "hello how are you"
print("Strinf is :-",str)
it_A = filter(IsVowel , str)
A = list(it_A)
print("Vowel in the string are :-", A)

B = []
for i in A:
  if i not in B:
    B.append(i)

print("Result without Duplicates :-", B)

Strinf is :- hello how are you
Vowel in the string are :- ['e', 'o', 'o', 'a', 'e', 'o', 'u']
Result without Duplicates :- ['e', 'o', 'a', 'u']

In [ ]:
def AddNumber(n):
  result = 0
  for i in range (n+1):
      result = result + 1
  return result

Num = int(input("Enter a Natural Number "))
Result = AddNumber(Num)
print(f"Sum of all the Natural Numbers till {Num} is : {Result}")

Enter a Natural Number 10
Sum of all the Natural Numbers till 10 is : 11

In [ ]:
def FiboSeries(n):
    A = 0
    B =1
    if n==1:
        print(A)
        return

    elif n==0:
        print("No Elements in the List")
        return

    print(A , B , sep = "\t" , end = "\t")
    for i in range(n-2):
        C = A+B
        print(C , end = "\t")
        A = B
        B = C

Num = int(input("Enter the Number of Terms in the Fibonaci Series "))
FiboSeries(Num)

Enter the Number of Terms in the Fibonaci Series 5
0	1	1	2	3

In [ ]:
def check_baggage(baggage_weight):
  if baggage_weight >= 0 and baggage_weight <= 40:
    return True
  else:
    return False 
def check_immigration(expiry_year):
  if expiry_year >= 2030 and expiry_year <= 2050:
    return True
  else:
    return False
  
def check_security(noc_status):
  if noc_status == "VALID" or noc_status == "valid":
    return True
  else:
    return False

def traveler():
  traveler_id = int(input("Enter the ID of the Traveler "))
  traveler_name = input("Enter the name of the Traveler ")
  baggage_weight = int(input("Enter the baggage weight of the Traveler "))
  expiry_year = int(input("Enter the Expiry Year "))

  noc_status = input("Enter the NOC status of the Traveler ")
  
  if(check_baggage(baggage_weight) and check_immigration (expiry_year) and check_security(noc_status)):
    print(f"Traveler Name - {traveler_name}")
    print(f"Traveler ID -{traveler_id}")
    print("Allow Traveler to fly!:")
  else:
    print(f"Traveler Name - {traveler_name}")
    print(f"Traveler Id - {traveler_id}")
    print("detain Traveler for Re-checking!")

traveler()

Enter the ID of the Traveler 1001
Enter the name of the Traveler Jim
Enter the baggage weight of the Traveler 35
Enter the Expiry Year 2019
Enter the NOC status of the Traveler VALID
Traveler Name - Jim
Traveler Id - 1001
detain Traveler for Re-checking!

the end---

In [ ]:
#REVISION
nums = []
#Appending data in list
nums.append(40)
nums.append(40.45)
nums.append("string")
print(nums)

[40, 40.45, 'string']

In [ ]:
name = input("Enter your name: ")
print("hello", name)

Enter your name: sameer
hello sameer

In [ ]:
num1 = int(input("enter num1: "))
num2 = int(input("enter num2: "))
#Sum
num3 = num1 + num2
print("Sum is: ", num3)

#Product
num4 = num1 * num3
print("Product is: ", num4)

#subtraction
num5 = num4 - num3
print("Sub: ",num5)

#division
num6 = num4 % num5
print("divi: ",num6)

enter num1: 2
enter num2: 4
Sum is:  6
Product is:  12
Sub:  6
divi:  0

In [ ]:
num1 = 34
if(num1>12):
  print("Num1 is good number")
elif(num1>35):
  print("Num2 is not a good number")
else:
  print("Num2 is a good number")

Num1 is good number

In [ ]:
# function with main
def getInteger():
    result = int(input("Enter integer: "))
    return result
  
def Main():
    print("Started")
  
    # calling the getInteger function and 
    # storing its returned value in the output variable
    output = getInteger()     
    print(output)
# now we are required to tell Python 
# for 'Main' function existence

if __name__=="__main__":
    Main()

Started
Enter integer: 5
5

In [ ]:
for r in range(5):
  print(r)

0
1
2
3
4

In [ ]:
#math module
import math

def Main():
  num = -85

#fabs is used to get the absolute
#value of the decimal]
  num = math.fabs(num)
  print(num)

if __name__=="__main__":
    Main()

85.0

In [ ]:
try:
  print(x)
finally:
  print("how are you")

how are you

NameError: ignored

In [ ]:
try:
  print(x)
except:
  print("this is exception")

this is exception

In [ ]:
try:
  x = 100
  y = "hello"+x
except(NameError, ValueError) as error:
  print(error)
else:
  print(y)

TypeError: ignored

In [ ]:
try:
  a = int(input())
  if (a>10):
    print(a)
  else:
    try:
      b = int(input())
      if(b>5):
        print(b)
      else:
        print("No more chance")
    except:
      print(f"exception raise for value of b")
except:
  print(f"exception raised for value of a")

3
hello
exception raise for value of b

In [ ]:
def abc(x):
  print("hello"+x)
try:
  n = input()
  abc(n)
except ValueError as a:
  print(a)
except TypeError as b:
  print(b)
except NameError as c:
  print(c)
else:
  print(n)

45
hello45
45

In [ ]:
def abc(x):
  print(45+x)
try:
  n = input()
  abc(n)
except ValueError as a:
  print(f"1 -{a}")
except TypeError as b:
  print(f"2 -{b}")
except NameError as c:
  print(f"3 -{c}")
else:
  print(n)

hello
2 -unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
a = [1,2,3,4,5]
try:
  print(a)
except ValueError:
  print("This is an exception of some kind")
else:
  print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
def alternate():
  a = 34/10
  print(a)
try:
  a = 34/int(input("Enter a number= "))
except (ZeroDivisionError) as error:
  print(error)
  alternate()
else:
  print(a)

Enter a number= 0
division by zero
3.4

In [ ]:
import math
try:
  x = int(input())
  print(math.exp(x))
except (OverflowError) as a:
  print(a)
else: 
  print(math.exp(x))

1000
math range error

In [ ]:
try:
  x = int(input())
  l = [1,2,3,4,5]
  a = l[x]
except IndexError as i:
    print(i)
except ValueError as v:
    print(v)
else:
  print(a)

5
list index out of range

In [ ]:
for i in range(1, 5):
  pass

In [ ]:
def a():
  pass
def b():
  print("Hello")
a()
b()

Hello

Raise Keyword:
it is use to raise the exception.
and it raises the error or exception and interrupts the flow of control.

syntax:
rasie{exception_class}

In [ ]:
def default():
  a = 100
  print(a)
a = int(input())
try:
  if a < 10:
    raise Exception("Num should > 10")
  else:
    print(a)
except:
    print("Exception occured")
    default()

6
Exception occured
100

In [ ]:
class TooSmallError(Exception):
  pass
class TooLargeError(Exception):
  pass

try:
  a = int(input())
  if(a<100):
    raise TooSmallError(f"You entered too small number {a}")
  elif(a>1000):
    raise TooLargeError(f"You entered too large number {a}")
  else:
    print(f"{a} - number accepted")
except TooSmallError as e:
  print(e)
except TooLargeError as e:
  print(e)

45
You entered too small number 45

In [ ]:
class NotinRangeError(ValueError):
  pass
count = 0
while(1):
  a = int(input("enter any number range 1 - 10 "))
  try:
    if(a>=1 and a<=10):
      print(f"you take {count} times to enter correct number !!! ")
      break
    else:
      count = count + 1
      raise NotinRangeError
  except NotinRangeError:
    print(f"Wromg input {count} times")

enter any number range 1 - 10 10
you take 0 times to enter correct number !!!

In [ ]:
txt='abcdefghijk {} all '
print(txt.format(73.79))

# New Section